<!--<div class="container-fluid" ng-controller="ExpenseController" style="width:95%;">-->

<div ng-controller="ExpenseController">
    <h2>Monthly Expense Page</h2>

    <hr />

    <h3>
        Scrambler Name: {{ scramblerLogIn.customerName}} <br />
        Scrambler Number: {{ scramblerLogIn.customerNumber}} <br />
        Scrambler ID: {{ scramblerLogIn.customerID }}
    </h3>

    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#expense">Add Expense</button>
                <div id="expense" class="collapse in">
                    Content comming soon .....
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#allExpenses">All Expenses</button>
                <div id="allExpenses" class="collapse in">
                    Content comming soon .....
                </div>
            </div>
        </div>

    </div>

</div>
