



<div class="container" ng-controller="CorrespondenceController">
    <h2>Correspondece Page</h2>
    <hr />

    <h3>
        Scrambler Name: {{ scramblerLogIn.customerName}} <br />
        Scrambler Number: {{ scramblerLogIn.customerNumber}} <br />
        Scrambler ID: {{ scramblerLogIn.customerID }}
    </h3>


</div>


<!--<form class="form-horizontal" ng-controller="CorrespondenceController">
    <h4>File Upload Testing </h4>
    <hr />

    <div class="form-group">
        <label for="Title" class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
            <input type="text" data-ng-model="Correspondence.title"
                   name="Title" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Comments" class="col-md-2 control-label">Comments</label>
        <div class="col-md-10">
            <textarea data-ng-model="Correspondence.Comments"
                      name="Comments" class="form-control">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="Correspondence" class="col-md-2 control-label">Attachment</label>
        <div class="col-md-10">
            <input type="file" name="Correspondence"
                   class="form-control" data-file-model="Correspondence.Correspondence" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary"
                   value="Save" data-ng-click="saveFile(Correspondence)" />
        </div>
    </div>
</form>-->
