

<div class="container-fluid" ng-controller="HomeController">
    <h2>Home Page</h2>
    <hr />

    <h3>
        Scrambler Name: {{ scramblerLogIn.customerName}} <br />
        Scrambler Number: {{ scramblerLogIn.customerNumber}} <br />
        Scrambler ID: {{ scramblerLogIn.customerID }}
    </h3>
    <br />


    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#scrambler">Scrambler Information</button>
                <div id="scrambler" class="collapse in">
                    <div style="text-align:center;color:cornflowerblue;margin-bottom:10px;">Scrambler Information</div>
                    <table style="width:80%" class="table borderless">
                        <tbody>
                            <tr>
                                <td style="text-align:right">Name:</td>
                                <td><input type="text" ng-disabled="true" class="form-control" ng-model="home.scramblerDetails.cutomer.FIRST_NAME" style="padding-left:20px;" /></td>
                                <td style="text-align:right">Email:</td>
                                <td><input ng-disabled="true" ng-model="home.scramblerDetails.address.EMAIL" type="text" class="form-control" style="padding-left:20px" /></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">Address:</td>
                                <td>
                                    <input ng-change="home.alphaNumericWithSpaceCheck(home.scramblerDetails.address.ADDRESS1, 'address')" ng-model="home.scramblerDetails.address.ADDRESS1" type="text" class="form-control" style="padding-left:20px" />
                                    <div style="color:red" ng-show="!home.addressCorrect">Address should be alphanumeric</div>
                                </td>
                                <td style="text-align:right">Secondary Email:</td>
                                <td>
                                    <input ng-change="home.validateEmail()" ng-model="home.scramblerDetails.address.EMAIL_SECOND" type="text" class="form-control" style="padding-left:20px" />
                                    <div style="color:red" ng-show="!home.emailCorrect">Email not in correct format</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">City:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.address.CITY, 'city')" ng-model="home.scramblerDetails.address.CITY" type="text" class="form-control" style="padding-left:20px" />
                                    <div style="color:red" ng-show="!home.cityCorrect">City should be alphanumeric</div>
                                </td>
                                <td style="text-align:right">Chapter:</td>
                                <td><input ng-disabled="true" ng-model="home.scramblerDetails.address.EMAIL" type="text" class="form-control" style="padding-left:20px" /></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">State:</td>
                                <td>
                                    <select style="padding-left:20px;" class="form-control" ng-model="home.scramblerDetails.address.STATE" ng-options="animalType.Id as animalType.Name for animalType in home.states"></select>
                                </td>
                                <td style="text-align:right">CEA or AST:</td>
                                <td><input ng-disabled="true" ng-model="home.scramblerDetails.address.EMAIL" type="text" class="form-control" style="padding-left:20px" /></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">ZIP:</td>
                                <td>
                                    <input ng-change="home.onlyNumbers(home.scramblerDetails.address.POSTAL, 'zip')" ng-model="home.scramblerDetails.address.POSTAL" type="text" class="form-control" style="padding-left:20px" />
                                    <div style="color:red" ng-show="!home.zipCorrect">Zip should be only numbers</div>
                                </td>
                                <td style="text-align:right">CEA or AST Email:</td>
                                <td><input ng-disabled="true" ng-model="home.scramblerDetails.address.EMAIL" type="text" class="form-control" style="padding-left:20px" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#animal">Animal Information</button>
                <div id="animal" class="collapse in">
                    <div style="text-align:center;color:cornflowerblue;margin-bottom:10px;">Additional Information</div>
                    <table class="table borderless" style="width:65%">
                        <tbody>
                            <tr>
                                <td style="text-align:right">Animal Type:</td>
                                <td>
                                    <select ng-disabled="home.animalDisable" style="padding-left:20px;" class="form-control" ng-model="home.scramblerDetails.animal.ANIMAL_TYPE" ng-options="animalType.Id as animalType.Name for animalType in home.animalType"></select>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Animal:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.ANIMAL_NAME, 'animalName')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.ANIMAL_NAME" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.animalNameCorrect">Animal name should be alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Registry #:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.REGISTRY_NO, 'registryNumber')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.REGISTRY_NO" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.registerNoCorrect">Registry Number should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Date of Birth:</td>
                                <td>
                                    <input ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.DATE_OF_BIRTH" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Name of Sire:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.NAME_OF_SIRE, 'nameOfSire')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.NAME_OF_SIRE" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.SirNameCorrect">Name of Sire should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Sire Registry #:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.REGISTRY_NO_SIR, 'SireRegisterNo')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.REGISTRY_NO_SIR" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.registerSirCorrect">Sire Registry Number should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Name of Dam:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.NAME_OF_DAM, 'nameOfDam')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.NAME_OF_DAM" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.damNameCorrect">Name of Dam should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Dam Registry #:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.REGISTRY_OF_DAM, 'DamRegisterNo')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.REGISTRY_OF_DAM" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.registryDamCorrect">Dam Registry Number should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Breed:</td>
                                <td>
                                    <select ng-disabled="home.animalDisable" style="padding-left:20px;" class="form-control" ng-model="home.scramblerDetails.animal.BREED_TYPE" ng-options="breed.Id as breed.Name for breed in home.breed"></select>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Animal ID:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.ANIMAL_IDENTIFICATION, 'animalIdentification')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.ANIMAL_IDENTIFICATION" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.animalIdentificationCorrect">Animal Id should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Seller:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.SELLER, 'Sellar')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.SELLER" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.sellarCorrect">Sellar Name should be Alphanumeric</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Purchase Date:</td>
                                <td><input ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.PURCHASE_DATE" type="text" class="form-control" style="padding-left:20px; padding-right:100px" /></td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Heifer'">
                                <td style="text-align:right">Total Animal Cost:</td>
                                <td>
                                    <input ng-change="home.onlyNumbers(home.scramblerDetails.animal.COST_OF_HEIFER, 'hiferCost')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.COST_OF_HEIFER" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.hiferCostCorrect">Cost of hifer should be only numbers</div>
                                </td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Steer'">
                                <td style="text-align:right">Validation Tag:</td>
                                <td><input ng-disabled="true" type="text" class="form-control" style="padding-left:20px; padding-right:100px" /></td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Steer'">
                                <td style="text-align:right">Sellar name:</td>
                                <td>
                                    <input ng-change="home.alphaNumericCheck(home.scramblerDetails.animal.SELLER, 'SellarSteer')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.SELLER" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.SellarSteerCorrect">Cost of hifer should be only numbers</div>
                                </td>
                            </tr>
                            <tr ng-show="home.scramblerDetails.animal.ANIMAL_TYPE == 'Steer'">
                                <td style="text-align:right">Purchase Date:</td>
                                <td><input ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.PURCHASE_DATE" type='text' class="form-control" style="padding-left:20px; padding-right:100px" /></td>
                            </tr>
                            <tr ng-if="home.scramblerDetails.animal.ANIMAL_TYPE == 'Steer'">
                                <td style="text-align:right">Cost:</td>
                                <td>
                                    <input ng-change="home.onlyNumbers(home.scramblerDetails.animal.COST_OF_HEIFER, 'steerCost')" ng-disabled="home.animalDisable" ng-model="home.scramblerDetails.animal.COST_OF_HEIFER" type="text" class="form-control" style="padding-left:20px; padding-right:100px" />
                                    <div style="color:red" ng-show="!home.steerCostCorrect">Cost of Steerr should be only numbers</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#donor">Donor Information</button>

                <div id="donor" class="collapse in">
                    <div style="text-align:center;color:cornflowerblue;margin-bottom:10px;">Donor Information</div>
                    <table class="table borderless" style="width:65%">
                        <tbody>
                            <tr>
                                <td style="text-align:right">Donor name:</td>
                                <td><input type="text" class="form-control" style="padding-left:20px; width:200px;" /></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">Donor Email:</td>
                                <td><input type="text" class="form-control" style="padding-left:20px; width:200px;" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default panel-primary" >
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-default btn-primary" data-toggle="collapse" data-target="#showProgress">Calf Scramble Progress Show</button>
                <div id="showProgress" class="collapse in">
                    <div style="text-align:center;color:cornflowerblue;margin-bottom:10px;">Calf Scramble Progress Show – Month DD, YYYY</div>
                    <table class="table borderless" style="width:65%">
                        <tbody>
                            <tr>
                                <td style="text-align:right">Will you attend the Calf scrambling progress show:</td>
                                <td><select style="padding-left:20px;" class="form-control" ng-model="home.selectedAttending" ng-options="attending.Id as attending.Name for attending in home.attending"></select></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">T-Shirt Size:</td>
                                <td>
                                    <select style="padding-left:20px;" class="form-control" ng-model="home.selectedTShirtSize" ng-options="tShirtSize.Id as tShirtSize.Name for tShirtSize in home.tShirtSize"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div>

    <button class="btn btn-default btn-primary"  ng-click="home.Save()">Update</button>

</div>