
<div class="container" ng-controller="SummaryController">
    <h2>Summary Page</h2>
    <hr />

    <h3>
        Scrambler Name: {{ scramblerLogIn.customerName}} <br />
        Scrambler Number: {{ scramblerLogIn.customerNumber}} <br />
        Scrambler ID: {{ scramblerLogIn.customerID }}
    </h3>
    <div align="center">
    <select class="form-control" ng-model="summary.selectedMonth" ng-change="summary.MonthSelection()" ng-options="animalType.Id as animalType.Name for animalType in summary.month"></select>
    </div>
    <div ng-show="summary.selectedMonth != null" class="panel panel-default">
        <div class="panel-heading" style="font-size: 15px;padding: 11px;color: cornflowerblue;">Essay And Business Plan</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Document Type</th>
                        <th>File Name</th>
                        <th>File Upload Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="summary.FullDoc.essay.ASSESSMENT_INIT_FILE_NAME">
                        <td>Initial Assessment</td>
                        <td ng-click="summary.downloadCoress('initass')" style="color:goldenrod">{{summary.FullDoc.essay.ASSESSMENT_INIT_FILE_NAME}}</td>
                        <td ng-bind="summary.formatDaate(summary.FullDoc.essay.ASSESSMENT_INIT_SUBMIT_DATE)"></td>
                    </tr>
                    <tr ng-if="summary.FullDoc.essay.LEDGER_MONTH_FILE_NAME">
                        <td>Monthly Ledgers	</td>
                        <td ng-click="summary.downloadCoress('monledger')" style="color:goldenrod">{{summary.FullDoc.essay.LEDGER_MONTH_FILE_NAME}}</td>
                        <td ng-bind="summary.formatDaate(summary.FullDoc.essay.LEDGER_MONTH_SUBMIT_DATE)"></td>
                    </tr>
                    <tr ng-if="summary.FullDoc.essay.ASSESSMENT_FINAL_FILE_NAME">
                        <td>Final Assessment</td>
                        <td ng-click="summary.downloadCoress('finass')" style="color:goldenrod">{{summary.FullDoc.essay.ASSESSMENT_FINAL_FILE_NAME}}</td>
                        <td ng-bind="summary.formatDaate(summary.FullDoc.essay.ASSESSMENT_FINAL_SUBMIT_DATE)"></td>
                    </tr>
                    <tr ng-if="summary.FullDoc.essay.BREED_FILE_NAME">
                        <td>Breed Essay</td>
                        <td ng-click="summary.downloadCoress('breedessay')" style="color:goldenrod">{{summary.FullDoc.essay.BREED_FILE_NAME}}</td>
                        <td ng-bind="summary.formatDaate(summary.FullDoc.essay.BREED_RPT_SUBMIT_DATE)"></td>
                    </tr>
                    <tr ng-if="summary.FullDoc.essay.YREND_FILE_NAME">
                        <td>Year End Essay</td>
                        <td ng-click="summary.downloadCoress('yearendessay')" style="color:goldenrod">{{summary.FullDoc.essay.YREND_FILE_NAME}}</td>
                        <td ng-bind="summary.formatDaate(summary.FullDoc.essay.YREND_RPT_SUBMIT_DATE)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="summary.selectedMonth != null" class="panel panel-default">
        <div class="panel-heading" style="font-size: 15px;padding: 11px;color: cornflowerblue;">Monthly Correspondence</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Greeter Contacted</th>
                        <th>Report Submit Date</th>
                        <th>File Name</th>
                        <th>File Upload Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="summary.corresFileName">
                        <td ng-if="summary.CorresSubmitDate.length > 0">{{summary.selectedMonth}}</td>
                        <td ng-if="summary.CorresSubmitDate.length == 0"></td>
                        <td ng-if="summary.CorresSubmitDate.length > 0">Yes</td>
                        <td ng-if="summary.CorresSubmitDate.length == 0"></td>
                        <td ng-bind="summary.formatDaate(summary.CorresSubmitDate)"></td>
                        <td ng-click="summary.downloadFile('corres')" style="color:goldenrod">{{summary.corresFileName}}</td>
                        <td ng-bind="summary.formatDaate(summary.CorresSubmitDate)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="summary.selectedMonth != null" class="panel panel-default">
        <div class="panel-heading" style="font-size: 15px;padding: 11px;color: cornflowerblue;">Photos</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>File Name</th>
                        <th>File Upload Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="photo in summary.FullDoc.monthly">
                        <td ng-if="photo.COMMENTS == 'photo1' || photo.COMMENTS == 'photo2' ||photo.COMMENTS == 'photo3'">{{summary.selectedMonth}}</td>
                        <td ng-if="photo.COMMENTS == 'photo1' || photo.COMMENTS == 'photo2' ||photo.COMMENTS == 'photo3'" ng-click="summary.downloadFile(photo.COMMENTS)" style="color:goldenrod">{{photo.PHOTO_FILE_NAME}}</td>
                        <td ng-if="photo.COMMENTS == 'photo1' || photo.COMMENTS == 'photo2' ||photo.COMMENTS == 'photo3'" ng-bind="summary.formatDaate(photo.PHOTO_SUBMIT_DATE)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
